.form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1rem;
  align-items: stretch;
}

.textarea {
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-family: var(--type-first)
}
