.delete {
  background: #ddd;
  padding: .3rem .6rem;
  line-height: 1;
  cursor: pointer;
  border: 1px solid transparen;
font-size: .875rem;
font-family: var(--type-first);
border-radius: .4rem;
transition: .1s;
}

.delete:focus,
.delete:hover {
  background: #fff;
  outline: none;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}
